@page "/"

<PageTitle>API Documentation</PageTitle>

<h1>API documentation</h1>

<div class="box">
    <b><i>Get the users images list: </i></b>
    <br><br>
    <code>
        https://.../api/GetUsers?token={api_token}
    </code>
    <br>
</div>

<div class="box">
    <b><i>Add user </i></b>
    <br><br>
    <code>
        https://.../api/AddUser?token={api_token}&name={user name}
    </code>
    <br>
</div>

<div class="box">
    <b><i>User recognition</i></b>
    <br><br>
    <code>
        https://.../api/SetUsers?token={api_token}&recognise={0/1}
    </code>
    <br>
</div>